.titleLink {
  text-decoration: none !important;

  font: inherit;

  &:not(:hover) {
    color: inherit;
  }
}

.slowReviewWarning {
  color: var(--fgColor-attention);
  margin: var(--space-small) 0 0 0;
}
